.brand-name{
    color: rgb(87, 47, 47);
}
.top-banner{
    background-color: rgb(87, 47, 47);
}
.head-text{
    color: rgb(255, 255, 255);
}
.about-para{
    font-size: 23px;
}
.underline{
    height: 3px;
    width: 100px;
    background-color: black;
    
}
.line{
    justify-content: center;
    align-items: center;
    display: flex;
}